/**
* \My CSS
**/
html {
	background: whitesmoke;
	font-family:'Lobster', cursive;
	background-image: url("../img/estrella.png")
}
body {

	font-family: '', serif;
}


.section {
	min-height: 100vh;
	padding-top: 10em;
}

.navbar.navbar-default {
	padding-right:50px !important;
	padding: 10px 0;
	background: transparent;
	border: none;
	box-shadow: none;
}
.navbar.navbar-default .navbar-nav > li > a,
.navbar.navbar-default .navbar-brand {
	color: dodgerblue;
}

.home-image {
	width: 100%;
}

.profile {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	right: 90%;
	background-color: black;
	color: A5003D;
}

.btn {
	color: 62ADAC;
}

.nav-scroll {
	transition-duration: 1s;
}

.g-recaptcha{
	padding-bottom: 10px;
}

.btn {
	padding-bottom: 10px;
}
}
	body{
	width:80%;
	margin:0 auto;
	backgound:white;
}
.jumbotron{
	background:linear-gradient(rgba(100,40,0,0), rgba(0,0,0, 0)),url(../img/estrella.png) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;


	width: 100%;
	heigh: 450px;
	color: black;
	display: estrella
	text-align: center;
	/*margin: 0;*/
	min-height: 100vh;

	padding-top: 20%; /*not working how I want*/
}


